$Linear-Gradient:  hsl(237, 63%, 64%);
$Linear-Gradient-checked: hsl(236, 72%, 79%);
$Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
$Light-Grayish-Blue: hsl(234, 14%, 74%);
$Grayish-Blue: hsl(233, 13%, 49%);
$Dark-Grayish-Blue: hsl(232, 13%, 33%);

* {
    padding: 0;
    margin: 0;
    border: 0;
    .container {
      header {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 5%;
        .switch-div {
          display: flex;
          margin-top: 2%;
          width: 20%;
          justify-content: space-between;
          h3 {
            font-size: 1rem;
            margin: auto 5%;
          }
          .switch {
            position: relative;
            display: inline-block;
            width: 4rem;
            height: 2rem;
            
          }
          
          /* Hide default HTML checkbox */
          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }
          
          /* The slider */
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $Linear-Gradient;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: #ffffff;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color: $Linear-Gradient-checked;
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(30px);
            -ms-transform: translateX(30px);
            transform: translateX(30px);
          }
          
          /* Rounded sliders */
          .slider.round {
            border-radius: 34px;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }
        }
        
      }
    }
    
}